<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board_Mapper">
	
	
	<insert id="KindReg" parameterType="Map">
		<selectKey keyProperty="number" resultType="int" order="BEFORE">
			SELECT PRO_KIND_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT_KIND
			VALUES('PK'||#{number}
					,#{PRO_KIND_NAME}
					<if test="#{PRO_KIND_FORMAT} != null">
						,#{PRO_KIND_FORMAT}
					</if>
					<if test="#{PRO_KIND_POSITION} != null">
						,#{PRO_KIND_POSITION}
					</if>
					<if test="#{PRO_KIND_REFERENCE} != null">
						,#{PRO_KIND_REFERENCE}
					</if>
			)
	</insert>

	<select id="getKind" resultType="Map" >
		SELECT * FROM PRODUCT_KIND
	</select>
	
	<delete id="KindDel">
		DELETE FROM PRODUCT_KIND
		WHERE PRO_KIND_CODE IN (
			<foreach collection="array" item="item" index="index" separator=",">
				${item}
			</foreach>
		)
	</delete>
	
	<select id="getAccount" resultType="Map">
		SELECT * FROM ACCOUNT
	</select>
	
	<insert id="AccountReg" parameterType="Map">
		<selectKey keyProperty="number" resultType="int" order="BEFORE">
			SELECT ACCOUNT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ACCOUNT
			VALUES('AC'||#{number}
					,#{COM_NAME, jdbcType=VARCHAR}
					,#{COM_ADDR, jdbcType=VARCHAR}
					,#{COM_MASTER, jdbcType=VARCHAR}
					,#{COM_REG_NUMBER, jdbcType=VARCHAR}
					,#{COM_AREA, jdbcType=VARCHAR}
					,#{COM_NUMBER, jdbcType=VARCHAR}
					,#{COM_PHNUMBER, jdbcType=VARCHAR}
					,#{COM_USING_CHECK, jdbcType=VARCHAR}
					,#{COM_REFERENCE, jdbcType=VARCHAR}
				)
		</insert>
	
		<delete id="AccountDel" parameterType="Map">
			DELETE FROM ACCOUNT
			WHERE COM_CODE = #{COM_CODE}
		</delete>
	
</mapper>